@import url('https://fonts.googleapis.com/css?family=Dokdo&display=swap');

/*................bodystyle*/
html {
    height: 100%;
    margin: 0;
}

body {
    background: darkblue;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
/*...............canvasstlye*/
canvas {
    border: 8px solid black;
    background: lightblue;
    position: relative;
    display: inline-block;
}
/*................headings, logos*/
.h1 {
    font-family: "Dokdo", Arial, Helvetica, sans-serif;
    color:lightcoral;
    align-items: center;
    font-size: 60px;
    margin-top: 10px;

}
.logo {
    background: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 160px;
    width: 280px;
    min-width: 40px;
    max-height: 160px;
}
    
.pa {
    font-family: "Dokdo", Arial, Helvetica, sans-serif;
    color:lightcoral;
    align-items: center;
    font-size: 60px;
    padding:0 auto;
}
.pb{
    font-family: "Dokdo", Arial, Helvetica, sans-serif;
    color:lightcoral;
    align-items: center;
    font-size: 60px;
    padding:0 auto;
}
/*................scorestyle*/

#score{
    font-family: "Dokdo", Arial, Helvetica, sans-serif;
    color:gold;
    align-items: center;
    font-size: 60px;
}

#highscore {
    font-family: "Dokdo", Arial, Helvetica, sans-serif;
    color:gold;
    align-items: center;
    font-size: 60px;
}


