@import url('https://fonts.googleapis.com/css?family=Dokdo&display=swap');

::selection {colur:white; background: transparent}
::-moz-selection {color:white; background: transparent}
/*................bodystyle*/
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Dokdo", Arial, Helvetica, sans-serif;
}

body {
    background: darkblue;
    text-align: center;
    align-items: center;
    justify-content: center;
    display:block;
}
.wrap{
    margin-left: auto;
    margin-right: auto;
}
header{
    width: 340px;
    font-size: 0;
}
/*...............canvasstlye*/
canvas {
    border: 10px solid black;
    border-color: white;
    background: lightblue;
    position: relative;
    display: none;
}
canvas:focus{
    outline: none;
}
/*................headings, logos*/
.h1 {
    font-family: "Dokdo", Arial, Helvetica, sans-serif;
    color:lightcoral;
    align-items: center;
    font-size: 60px;
    width: 100px;
    margin-top: 10px;
    display: inline-block;
}
.logo {
    background: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    align-items: center;
    height: 160px;
    width: 280px;
    min-width: 40px;
    max-height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.score {
    font-family: "Dokdo", Arial, Helvetica, sans-serif;
    color:lightcoral;
    align-items: center;
    font-size: 60px;
    padding:0 auto;
} 
.score_value {
    font-size: inherit;
}
.pa {
    font-family: "Dokdo", Arial, Helvetica, sans-serif;
    color:lightcoral;
    align-items: center;
    font-size: 60px;
    padding:0 auto;
}
.pb{
    font-family: "Dokdo", Arial, Helvetica, sans-serif;
    color:lightcoral;
    align-items: center;
    font-size: 60px;
    padding:0 auto;
}
/* All screens style */
            #gameover a, #setting a, #menu a{
                display: block;
            }
       
            #gameover a, #setting a:hover, #menu a:hover{
                cursor: pointer;
            }
            
            #gameover a:hover::before, #setting a:hover::before, #menu a:hover::before{
                content: ">";
                margin-right: 10px;
            }
            
/*................scorestyle*/

#highscore {
    font-family: "Dokdo", Arial, Helvetica, sans-serif;
    color:gold;
    align-items: center;
    font-size: 60px;
}

/*...............Menu Screen Style*/

#menu{
    display: block;
    width: 340px;
    padding-top: 90px;
    padding-bottom: 90px;
    color: gold;
    margin: auto;
    font-size: 60px;
}

#menu h2{
    -webkit-animation: logo-ani 1000ms linear infinite;
            animation: logo-ani 1000ms linear infinite;
        margin-bottom: 30px;
}
#menu a{
                font-size: 30px;
            }
            
            @-webkit-keyframes logo-ani{
               50%{-webkit-transform: scale(1.3,1.3);}
              100%{-webkit-transform: scale(1.0,1.0);}
            }

            @keyframes logo-ani{
               50%{transform: scale(1.3,1.3);}
              100%{transform: scale(1.0,1.0);}
            }
            
            
/* Game Over Screen Style */
            
#gameover{
    display: none;
    width: 340px;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    color: gold;
}

#gameover p{
    margin-top: 25px;
    font-size: 20px;
}
/*..............settings screen*/
#setting{
    display: none;
    width: 340px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 35px;
    color:gold;
    text-align: center;
}
#setting h2{
    margin-bottom: 15px;
}
#setting p{
    margin-top: 10px;
}
#setting input{
    display: none;
}
#setting label{
    cursor: pointer;
}
#setting input:checked + label{
    background-color: lightblue;
    color: gold;
}